<!DOCTYPE html>
<html>
   <head>

    <!--font awesom-->
    <script src="https://kit.fontawesome.com/4a342b5af3.js" crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- expanding post windows scripts-->
    <style>
    #fade .container{
        position: relative;
        height: 70px;
        overflow: hidden;
    }

    #fade .container:after{
        content: "";
        position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
        box-shadow: inset white 0 -15px 10px;
    }
</style>
    <!-- Bootstrap CSS -->
      <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>ad_keeper</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column p-2 m-2 border border-primary rounded ">
            <div class="d-inline-flex"><img src="{{ image }}"></div>
            <div class="d-inline-flex>">
                {% autoescape false %}
                    {{ log | replace("\n","<br/>")}}
                {% endautoescape %}
            </div>
        </div>

        <div class="border p-2 m-2 border-info rounded ">
            {% for key, value in data.items() %}
                <strong> {{key}} : </strong> {{value}}
                <div class="dropdown-divider"></div>
            {% endfor %}
        </div>
    </div>

</body>
</html>